# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS-Specific Files
.DS_Store
Thumbs.db

# Code Coverage
coverage/

# Build Artifacts
dist/

# Temporary Files
*.tmp
*.swp

# Git-Specific Files
*.patch
*.orig

# IDE Files
.vscode/